In [1]:
import pandas as pd

In [90]:
My_id_references=pd.read_csv("C:/Users/ghavimbm/Desktop/12wq/listofreftex_prosses_ben.csv", header=None)

In [91]:
My_id_references.head(1)

           0                                                  1
0  f1_831418  Bosch, G.: Qualifizieren statt entlassen - Bes...

In [97]:
len(set(My_id_references[0]))

817

In [101]:
My_id_references['freq'] = My_id_references.groupby(0)[0].transform('count')

In [98]:
len(My_id_references)

832

In [5]:
Process_data=pd.read_csv("listofreftex_prosses-segmented-20180702.csv")

In [6]:
Process_data.head(1)

,ref_id,ref_text,ref_seg,ref_seg_dic
0,f1_831418,"Bosch, G.: Qualifizieren statt entlassen - Bes...","<author><surname prob=""0.9656"">Bosch</surname>...","{""author"": [[{""score"": ""0.9656"", ""surname"": ""B..."

In [7]:
len(Process_data)

832

# ==========================================

In [8]:
df=pd.read_csv("sowiIdDuplicatesEdit.csv",sep=";")

In [9]:
df["new_id"]=df["ref_id"].apply(lambda x:"f1_"+str(x))

In [10]:
df=df[['new_id','ref_id', 'sowiport_id', 'ssoar_id', 'ref_text',
       'sowi_IdDuplicates']]

In [11]:
df["ns"]=df[df["sowiport_id"]!="not_match"]["sowiport_id"].apply(lambda x:[x])

In [12]:
df["sowiport_id"]=df["ns"]

In [13]:
df=df[['new_id','ref_id', 'sowiport_id', 'ssoar_id', 'ref_text',
       'sowi_IdDuplicates']]

In [14]:
import numpy as np

In [15]:
def null_or_listdublicat_eval(x):
    if "null"!=x:
        return x.replace("[","").replace("]","").split(",")
    else:
        return np.nan

In [16]:
df["sowi_IdDuplicates"]=df["sowi_IdDuplicates"].apply(null_or_listdublicat_eval)

In [17]:
df["n_sowiport_id"]=df[~df["sowiport_id"].isnull()][~df["sowi_IdDuplicates"].isnull()]["sowiport_id"]+df[~df["sowiport_id"].isnull()][~df["sowi_IdDuplicates"].isnull()]["sowi_IdDuplicates"]

C:\Program Files\Anaconda2\envs\python3\lib\site-packages\ipykernel\__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [18]:
df.loc[~df["n_sowiport_id"].isnull(),"sowiport_id"]=df[~df.n_sowiport_id.isnull()]["n_sowiport_id"]

In [19]:
df=df[["new_id","ref_id","sowiport_id","ssoar_id","ref_text"]]

In [20]:
df.ssoar_id=df.ssoar_id.apply(int).apply(str)

In [21]:
df.head(2)

,new_id,ref_id,sowiport_id,ssoar_id,ref_text
0,f1_831418,831418,"[wzb-bib-85047, gesis-solis-00135926, bszbw-w...",10037,"Bosch, G.: Qualifizieren statt entlassen - Bes..."
1,f1_1064777,1064777,"[gesis-solis-00360757, iab-litdok-K060329801, ...",31981,"Stahlmann, Günther (2006): 1 - Euro - Jobs zwi..."

In [22]:
len(df)

602

# =========================================

In [23]:
df1=pd.read_csv("Final_matching_gold_standard2.csv", sep=";", encoding="utf-8")

In [24]:
df1.head(2)

,﻿,0,1,Match id,Authors,year,title,list_of_dublication,F_D,comment
0,1279,R:/PROJECTS/EXCITE.DFG/SHK_Report/Goldstandard...,"Volmerg, B. (1988). Erkenntnistheoretische Gru...",null,"Volmerg, B.",1988,Erkenntnistheoretische Grundsätze interpretati...,null,NaN,NaN
1,291,R:/PROJECTS/EXCITE.DFG/SHK_Report/Goldstandard...,"Lewis, Matthew. 2008. “Price Dispersion and Co...",null,"Lewis, Matthew",2008,Price Dispersion and Competition with Differen...,null,NaN,NaN

In [25]:
match_df1=df1[~df1["Match id"].isnull()]

In [26]:
match_df1.columns=['Oldindex', '0', '1', 'Match id', 'Authors', 'year', 'title',
       'list_of_dublication', 'F_D', 'comment']

In [27]:
match_df1=match_df1[["Oldindex", '0', '1', 'Match id','list_of_dublication']]

In [28]:
match_df1.columns=[["ref_id","sourcefile","ref_text","sowi_id", "dublicates"]]

In [29]:
match_df1["new_id"]="f2_"+match_df1["ref_id"].apply(str)

In [30]:
match_df1=match_df1[["new_id","ref_id","sourcefile","ref_text","sowi_id", "dublicates"]]

In [31]:
match_df1["sourcefile1"]=match_df1["sourcefile"].apply(lambda x: x.split("\\")[-1])

In [32]:
match_df1.head(1)

,new_id,ref_id,sourcefile,ref_text,sowi_id,dublicates,sourcefile1
0,f2_1279,1279,R:/PROJECTS/EXCITE.DFG/SHK_Report/Goldstandard...,"Volmerg, B. (1988). Erkenntnistheoretische Gru...",null,null,120.txt

In [33]:
match_df1=match_df1[["new_id","ref_id","sowi_id","dublicates","sourcefile","ref_text"]]

In [34]:
match_df1[match_df1["sowi_id"]!="null"].head(2)

,new_id,ref_id,sowi_id,dublicates,sourcefile,ref_text
2,f2_980,980,bszbw-wao-330016598,"[u'bszbw-wao-390397377', u'csa-pais-2004-10023...",R:/PROJECTS/EXCITE.DFG/SHK_Report/Goldstandard...,"Sawyer, Susana 2004 Crude Chronicles: Indigeno..."
4,f2_205,205,fes-bib-16913,['fes-bib-16913'],R:/PROJECTS/EXCITE.DFG/SHK_Report/Goldstandard...,"Emery, F. E., Thorsrud, E., & Trist, E. (1969)..."

In [35]:
match_df1["dublicates"]=match_df1["dublicates"].apply(null_or_listdublicat_eval)

In [36]:
tempdf=match_df1[match_df1["sowi_id"]!="null"]["sowi_id"].apply(lambda x:[x])

In [37]:
match_df1["sowi_id"]=tempdf

In [38]:
match_df1["sowi_id"]=match_df1["sowi_id"]+match_df1["dublicates"]

In [39]:
match_df1["sowi_id"]=match_df1[~match_df1["sowi_id"].isnull()]["sowi_id"].apply(set).apply(list)

In [40]:
match_df1=match_df1[["new_id","ref_id","sowi_id","sourcefile","ref_text"]]

In [41]:
match_df1.head(1)

,new_id,ref_id,sowi_id,sourcefile,ref_text
0,f2_1279,1279,NaN,R:/PROJECTS/EXCITE.DFG/SHK_Report/Goldstandard...,"Volmerg, B. (1988). Erkenntnistheoretische Gru..."

In [42]:
match_df1.columns=["new_id","ref_id","sowi_id","sourcefile","ref_text"]

In [43]:
len(match_df1)

230

In [44]:
df.head(1)

,new_id,ref_id,sowiport_id,ssoar_id,ref_text
0,f1_831418,831418,"[wzb-bib-85047, gesis-solis-00135926, bszbw-w...",10037,"Bosch, G.: Qualifizieren statt entlassen - Bes..."

In [45]:
df.columns=["new_id","ref_id","sowi_id","sourcefile","ref_text"]

In [46]:
len(df)

602

In [74]:
frames = [df,match_df1]
resultrefex = pd.concat(frames)

In [75]:
len(resultrefex)

832

In [76]:
len(Process_data)

832

In [77]:
resultrefex.head(1)

,new_id,ref_id,sowi_id,sourcefile,ref_text
0,f1_831418,831418,"[wzb-bib-85047, gesis-solis-00135926, bszbw-w...",10037,"Bosch, G.: Qualifizieren statt entlassen - Bes..."

In [78]:
Process_data.head(1)

,new_id,ref_text,ref_seg,ref_seg_dic
0,f1_831418,"Bosch, G.: Qualifizieren statt entlassen - Bes...","<author><surname prob=""0.9656"">Bosch</surname>...","{""author"": [[{""score"": ""0.9656"", ""surname"": ""B..."

In [79]:
Process_data.columns=["new_id","ref_text","ref_seg","ref_seg_dic"]

In [105]:
resultrefex.drop_duplicates(subset=['new_id'], keep="first", inplace=True)
Process_data.drop_duplicates(subset=['new_id'], keep="first", inplace=True)

In [106]:
len(resultrefex)

817

In [107]:
len(Process_data)

817

In [108]:
resultmerged = pd.merge(resultrefex, Process_data,how='right', on=["new_id"])

In [109]:
len(resultmerged)

817

In [110]:
len(set(resultmerged["new_id"]))

817

In [ ]:
resultmerged.to_csv("Final_prepared_data_for_matching.csv", index=False, encoding='utf-8')